 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 613px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 493px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 3.75rem;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  margin: 88px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 493px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 29px;
}

.u-section-1 .u-image-1 {
  width: 389px;
  height: 389px;
  --radius: 20px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-1 .u-shape-1 {
  width: 159px;
  height: 159px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -115px 0 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 159px;
  height: 159px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -158px 113px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 407px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 60px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 407px;
  }

  .u-section-1 .u-image-1 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 156px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 312px;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 300px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -26px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1106px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 44px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 153px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 468px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 295px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 675px;
}

.u-section-2 .u-group-1 {
  min-height: 429px;
  height: auto;
  --radius: 30px;
  margin-top: 154px;
  margin-bottom: 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  width: 91px;
  height: 91px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-2 .u-group-2 {
  width: 302px;
  min-height: 344px;
  height: auto;
  --radius: 30px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -77px 0 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 15px;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  width: 198px;
  margin: 30px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  margin: 30px auto 0;
}

.u-section-2 .u-text-3 {
  margin: -267px 332px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 7px 399px 90px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 22px;
    padding-right: 22px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 12px;
    margin-left: 8px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 23px;
    height: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -367px;
    margin-right: 423px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 50px;
    margin-right: 415px;
    margin-left: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 871px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 324px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -668px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 141px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 317px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -661px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    margin-top: 128px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-2 .u-group-2 {
    margin-top: 429px;
    margin-right: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-text-3 {
    margin-top: -773px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 4px;
    margin-right: 4px;
  }
} .u-section-3 {
  background-image: linear-gradient(#431d62, white);
}

.u-section-3 .u-sheet-1 {
  min-height: 583px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 47px auto 0 72px;
}

.u-section-3 .u-list-1 {
  margin-bottom: 31px;
  margin-top: 31px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  min-height: 422px;
  grid-gap: 20px 20px;
}

.u-section-3 .u-list-item-1 {
  --radius: 30px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-2 {
  text-transform: none;
  margin: 20px 20px 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 20px auto 0 20px;
}

.u-section-3 .u-text-4 {
  margin: 20px auto 0 21px;
}

.u-section-3 .u-text-5 {
  font-size: 3rem;
  margin: 30px 198px 0 20px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  margin: 30px auto 0;
  padding: 10px 109px 11px 108px;
}

.u-section-3 .u-list-item-2 {
  --radius: 30px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-6 {
  text-transform: none;
  font-weight: 400;
  margin: 20px 20px 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 20px auto 0 20px;
}

.u-section-3 .u-text-8 {
  margin: 20px auto 0 21px;
}

.u-section-3 .u-text-9 {
  font-size: 3rem;
  margin: 30px 198px 0 20px;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  margin: 30px auto 0;
  padding: 10px 109px 11px 108px;
}

.u-section-3 .u-list-item-3 {
  --radius: 30px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-text-10 {
  text-transform: none;
  font-weight: 400;
  margin: 20px 20px 0;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  margin: 20px auto 0 20px;
}

.u-section-3 .u-text-12 {
  margin: 20px auto 0 21px;
}

.u-section-3 .u-text-13 {
  font-size: 3rem;
  margin: 30px 198px 0 20px;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  margin: 30px auto 0;
  padding: 10px 109px 11px 108px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    margin-bottom: -25px;
    margin-top: -19px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
    min-height: 345px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 18px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    padding-right: 76px;
    padding-left: 75px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 18px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    padding-right: 76px;
    padding-left: 75px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 18px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-3 {
    padding-right: 76px;
    padding-left: 75px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    margin-bottom: -399px;
    margin-top: -418px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 825px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    padding-right: 103px;
    padding-left: 103px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    padding-right: 103px;
    padding-left: 103px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-3 {
    padding-right: 103px;
    padding-left: 103px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: -412px;
    margin-top: -652px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1124px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-btn-1 {
    padding-right: 206px;
    padding-left: 205px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-btn-2 {
    padding-right: 206px;
    padding-left: 205px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-btn-3 {
    padding-right: 206px;
    padding-left: 205px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: -385px;
    margin-top: -735px;
  }

  .u-section-3 .u-btn-1 {
    padding-right: 106px;
    padding-left: 105px;
  }

  .u-section-3 .u-btn-2 {
    padding-right: 106px;
    padding-left: 105px;
  }

  .u-section-3 .u-btn-3 {
    padding-right: 106px;
    padding-left: 105px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 602px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: -46px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 482px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  margin: 37px auto 0 2px;
  padding: 10px 47px 10px 46px;
}

.u-section-4 .u-text-3 {
  font-size: 0.875rem;
  margin: 0 auto 0 48px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 482px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 403px;
  height: 358px;
  margin: 50px auto 0 48px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 56px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 509px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
    padding-right: 141px;
    padding-left: 140px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 509px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 682px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 58px;
    margin-bottom: 58px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 567px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    padding-right: 86px;
    padding-left: 85px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 567px;
  }

  .u-section-4 .u-image-1 {
    width: 300px;
    height: 267px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1139px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 394px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-right: auto;
  }

  .u-section-4 .u-btn-1 {
    padding-right: 133px;
    padding-left: 132px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 635px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 989px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -114px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 435px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 0;
    padding-right: 97px;
    padding-left: 95px;
  }

  .u-section-4 .u-text-3 {
    margin-left: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 480px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 372px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 37px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 252px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 1px 30px 30px;
}

.u-section-5 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 252px;
}

.u-section-5 .u-container-layout-2 {
  padding: 23px 30px;
}

.u-section-5 .u-form-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  width: 100%;
  padding: 10px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 351px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 208px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 208px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 20px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 475px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-bottom: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 413px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 60px 418px 0 0;
}

.u-section-6 .u-image-1 {
  width: 517px;
  height: 140px;
  margin: -132px 0 0 auto;
}

.u-section-6 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 47px;
  margin-bottom: 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 124px;
  grid-gap: 0px;
}

.u-section-6 .u-container-layout-1 {
  padding: 16px 20px;
}

.u-section-6 .u-image-2 {
  height: 77px;
  width: 291px;
  margin: 0 auto;
}

.u-section-6 .u-container-layout-2 {
  padding: 16px 20px;
}

.u-section-6 .u-image-3 {
  height: 77px;
  width: 291px;
  margin: 0 auto;
}

.u-section-6 .u-container-layout-3 {
  padding: 16px 20px;
}

.u-section-6 .u-image-4 {
  height: 77px;
  width: 291px;
  margin: 0 auto;
}

.u-section-6 .u-container-layout-4 {
  padding: 16px 20px;
}

.u-section-6 .u-image-5 {
  height: 77px;
  width: 291px;
  margin: 0 auto;
}

.u-section-6 .u-container-layout-5 {
  padding: 16px 20px;
}

.u-section-6 .u-image-6 {
  height: 77px;
  width: 291px;
  margin: 0 auto;
}

.u-section-6 .u-container-layout-6 {
  padding: 16px 20px;
}

.u-section-6 .u-image-7 {
  height: 77px;
  width: 291px;
  margin: 0 auto;
}

.u-section-6 .u-container-layout-7 {
  padding: 16px 20px;
}

.u-section-6 .u-image-8 {
  height: 77px;
  width: 291px;
  margin: 0 auto;
}

.u-section-6 .u-container-layout-8 {
  padding: 16px 20px;
}

.u-section-6 .u-image-9 {
  height: 77px;
  width: 291px;
  margin: 0 auto;
}

.u-section-6 .u-container-layout-9 {
  padding: 16px 20px;
}

.u-section-6 .u-image-10 {
  height: 77px;
  width: 291px;
  margin: 0 auto;
}

.u-section-6 .u-container-layout-10 {
  padding: 16px 20px;
}

.u-section-6 .u-image-11 {
  height: 77px;
  width: 291px;
  margin: 0 auto;
}

.u-section-6 .u-container-layout-11 {
  padding: 16px 20px;
}

.u-section-6 .u-image-12 {
  height: 77px;
  width: 291px;
  margin: 0 auto;
}

.u-section-6 .u-container-layout-12 {
  padding: 16px 20px;
}

.u-section-6 .u-image-13 {
  height: 77px;
  width: 291px;
  margin: 0 auto;
}

.u-section-6 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 218px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 365px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 92px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 95px;
  }
} .u-section-7 {
  background-image: linear-gradient(#431d62, white);
}

.u-section-7 .u-sheet-1 {
  min-height: 656px;
}

.u-section-7 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-7 .u-shape-1 {
  width: 144px;
  height: 144px;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0 0;
}

.u-section-7 .u-form-1 {
  height: 454px;
  width: 570px;
  margin: -144px auto 0;
}

.u-section-7 .u-input-1 {
  --radius: 10px;
}

.u-section-7 .u-input-2 {
  --radius: 10px;
}

.u-section-7 .u-input-3 {
  --radius: 10px;
}

.u-section-7 .u-form-group-4 {
  margin-left: 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-btn-2 {
  --radius: 10px;
  width: 100%;
  padding: 10px 0;
}

.u-section-7 .u-shape-2 {
  width: 144px;
  height: 144px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -144px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 857px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: 62px;
  }

  .u-section-7 .u-shape-1 {
    width: 97px;
    height: 97px;
    margin-top: 12px;
  }

  .u-section-7 .u-form-1 {
    margin-top: 18px;
  }

  .u-section-7 .u-shape-2 {
    width: 97px;
    height: 97px;
    margin-top: 18px;
    margin-bottom: 46px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 821px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-7 .u-shape-1 {
    margin-top: -26px;
  }

  .u-section-7 .u-form-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-shape-2 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 861px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-shape-1 {
    margin-top: 20px;
  }
}